@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #0f1115;
  --bg-side: #16191f;
  --border: rgba(255, 255, 255, 0.12);
  --accent: #6366f1;
  --text-muted: #cbd5e1;

  --indigo-rgb: 99, 102, 241;
  --amber-rgb: 245, 158, 11;
  --emerald-rgb: 16, 185, 129;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bg-main);
  color: #f1f5f9;
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

@keyframes scanner {
  0% {
    top: 0%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

